<div class="container " id="appearing">
    <h2 class="text-center">
        Hey there 😇
    </h2>
    <p>Apparently i'm sad ,hadi mimi i'm surprised</p>
    <p>So if you know the way i tell stories then you know how this is about to go down. Forgive me for my poor punctuation but it's just that i was typing like a crazy person. Btw fuck the people using wix and wordpress they are kinda lazy though they have
        amazing content (some not all).</p>
    <p>I genuinely dont know what is wrong with me though, so i decided to write as like some of self therapy</p>

    <br>
    <p>Before you go and leave my life</p>
    <p>Find paradise in someone else's eyes</p>
    <p>Just one thing you'll promise me</p>
    <p>I'm begging please please please</p>
    <p>Just leave a little love for me, yeah</p>
    <p>Leave a little love for me</p>
    <p>Just leave a little love for me, yeah</p>
    <p> Leave a little love for me</p>
    <br>

    <p>Sorry i got distracted for a while there, i was listening to Armin and i started writing down lyrics instead. Btw song recommendations from Armin Van Burren :</p>
    <p>Manzi</p>
    <p>Slow Lane</p>
    <p>and playlist ASOT 2021 YEAR MIX 🤩🤩🤩🤩</p>
    <p>You know what nimeskia kulala , we'll continue tomorrow. Ama kesho tuanze podcast</p>
    <button type="button" class="btn btn-btn btn-danger" >Walahi umefika mwisho</button>
    <br><br>
</div>
